/*
My concept:
pre
  .key, .keyword
    .fun, .function
    .typ, .vartype
    .bol, .boolean
  .var, .variable
    .str, .string
    .num, .number
    .con, .constant
  .pun, .punctuation
    .ope, .operation
    .bra, .bracket
    .com, .comment
*/
pre { background: #eee; color: #444; padding: 1em;}
.js-type {font-weight:700}
.js-variable, .js-type{color: #228}/* Юзер-функции синие */
.js-keyword{color: #708}/* Ключевые слова полужирные */
.js-string {color:#a22}/* Всё внутри строки — строка */
.js-punctuation {color:#666} /* */
.js-atom {color:#281}/* числа, константы */
.js-comment, .js-comment * {color: #A70!important}/* Всё внутри комментария — комментарий */
.html-tag { color:#aa2;}
