html, body, div, span, applet, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
vertical-align: baseline;
font-family: inherit;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
outline: 0;
padding: 0;
margin: 0;
border: 0;
}
:focus {
outline: 0;
}
body {
background: white;
line-height: 1;
color: black;
}
table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
font-weight: normal;
text-align: left;
}
blockquote, q {quotes: "" "";}
blockquote:before,blockquote:after,
q:before,q:after {content: "";}
img, object, video, embed {max-width: 100%;}
pre, .pre {
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
}
ul, ol {list-style-type: none;margin-left: 1.25em;}
li:before { margin-right: .5em;}
ol {counter-reset: n;}
ol li { counter-increment: n;}
ol li:before{ content: counters(n, ".") ".";}
ul li:before { content: "*"}
p {max-width: 80em;}
p:first-letter, blockquote, blockquote:before { margin-left:2.5em}
s+sup { position:absolute; line-height:.1em;padding-bottom:3em;}
