.slot-machine {
  display: block;
  width: 14rem;
  height: 14rem;
  margin: auto;
  position: relative;
}

.slot-machine__icon {
  position: absolute;
  display: block;
}

.slot-machine__reels {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
