node_modules/
public/fonts/*.svg
public/fonts/*.woff
public/**/*.css
public/**/*.css.map
public/**/*.js
public/**/*.js.map
public/**/*-thumb.*
public/**/*.webp
public/**/*.ascii
public/**/*.brf
public/**/*.png
public/**/*.jpg
!public/images/artursjansons.jpg
!public/images/bg.jpg
public/favicon.ico
public/**/index.html
!public/1990/**/styles.css
public/EULA.md
public/PRIVACY.md
public/**/manifest.appcache
public/data/
scripts/index.js
src/lib/router*.js
.env
archive/
