:root {
  --box-width: 9rem;
  --box-height: 2rem;
  --content-height: 3rem;
}
.link-list {
  font-size: var(--font-size-s);
  font-weight: 200;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.link-list--squire {
  --box-height: var(--box-width);
}

.link-list__item {
  height: var(--box-height);
  flex: 0 1 var(--box-width); /*  No stretching: */
}

.link-list__icon {
  height: var(--content-height);
  width: auto;
  min-width: auto;
  max-width: 100%;
}
