@import "highlighter.min.css";

/* Styles used only for interpriate old interface */
:root {
  --color-window: #0000a8;
  --color-text: #56ffff;
  --color-danger: #a80000;
  /* --color-danger: #FF5750; */
  --color-buttonText: black;
  --color-button: white;
  --color-accent: #ffff58;
  --color-activeWindow: #ababab;
  --color-inactiveWindow: #05a8a8;
  --color-menu: #05a8a8;
  --color-shadow: black;
  --font-size: 12px;
}
* {
  font-size: var(--font-size);
  border-color: var(--color-text);
  font-style: normal;
  line-height: 2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-accent);
}
h1,
h2,
h3,
h4,
h5,
h6,
p, ul, ol, hr {
  margin: 0.5em 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p, li, hr, a {
  max-width: 80em;
}
hr {
  clear: both;
}
pre {
  overflow: hidden;
}
picture {
  display: grid;
}
img {
  image-rendering: pixelated;
  max-width: 100%;
  height: auto;
  display: inline-block;
  zoom: 2;
  font-size: 0;
  position: relative;
}
img[alt]:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  font-family: monospace;
  font-stretch: condensed;
  font-size: 4px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
  content: attr(alt);
}
body,
html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 0;
}
body {
  position: relative;
  background-color: var(--color-window);
  animation: color-fade 2s ease-in-out alternate;
  /* animation-delay: 2s; */
  transition: background-color 2s, color 2s;
  /* transition-delay: 2s; */
}
html {
  scrollbar-color: orange var(--color-activeWindow);
  scrollbar-gutter: stable;
}
body,
input,
select,
textarea {
  font-family: "SFMono-Regular", "SF Mono", "Ubuntu Mono", Consolas,
    "DejaVu Sans Mono", Menlo, monospace;
  font-size: var(--font-size);
  letter-spacing: 1.5px;
  color: var(--color-text);
}
select {
  height: 2em;
}
input,
select,
textarea,
a {
  display: inline-block;
  border: 0;
  box-shadow: 1em 1ex var(--color-shadow);
  margin: -0.25em;
  padding: 0.25em;
  margin-right: 1ex;
  margin-bottom: 1ex;
}
input,
select,
textarea,
a:not([href^="/images"]) {
  line-height: 2;
}
a[href^="/images"] {
  display: inline-block;
}
li {
  list-style-type: square;
}
fieldset {
  border-color: var(--color-window);
  border-style: double;
  border-width: 5px;
  box-sizing: border-box;
}
legend {
  background-color: var(--color-window);
  color: var(--color-text);
  padding: 0.25em 0.5em;
}
code {
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: fit-content;
}
input,
select,
textarea,
a:not([href^="/images"]) {
  text-decoration: none;
  color: initial;
  padding: 0 0.5em;
}
[bgcolor] input,
[bgcolor] select,
[bgcolor] textarea {
  /* issue with nested styles, see #bot */
  /* color: var(--color-accent); */
}
[bgcolor] input[type="button"],
[bgcolor] input[type="submit"],
[bgcolor] a {
  color: var(--color-buttonText);
}
input[type="button"],
input[type="submit"],
a {
  background-color: var(--color-inactiveWindow);
}
[bgcolor] input[type="button"],
[bgcolor] input[type="submit"],
[bgcolor] a {
  background-color: var(--color-button);
}
[bgcolor="red"] {
  background-color: var(--color-danger) !important;
  color: var(--color-button) !important;
}
[bgcolor="gray"] {
  background-color: var(--color-activeWindow) !important;
  color: var(--color-button) !important;
}
[bgcolor="green"] {
  background-color: var(--color-inactiveWindow) !important;
  color: var(--color-button) !important;
}
[color="gray"] {
  color: var(--color-button);
}
[width="768px"] {
  width: auto;
  max-width: 160ex;
  min-width: 768px;
}
[style="display:none;"] {
  display: none;
  visibility: hidden;
}
input:hover,
select:hover,
textarea:hover,
a:hover,
input:focus,
select:focus,
textarea:focus,
a:focus,
input:active,
select:active,
textarea:active,
a:active,
input:checked,
select:checked,
textarea:checked,
a:checked,
[bgcolor] input:hover,
[bgcolor] select:hover,
[bgcolor] textarea:hover,
[bgcolor] a:hover,
[bgcolor] input:focus,
[bgcolor] select:focus,
[bgcolor] textarea:focus,
[bgcolor] a:focus,
[bgcolor] input:checked,
[bgcolor] select:checked,
[bgcolor] textarea:checked,
[bgcolor] a:checked,
[bgcolor] input:active,
[bgcolor] select:active,
[bgcolor] textarea:active,
[bgcolor] a:active {
  background-color: var(--color-accent);
  color: var(--color-buttonText);
  outline: none !important;
}
::selection {
  color: var(--color-buttonText);
  background-color: var(--color-accent);
}
input:hover::selection,
select:hover::selection,
textarea:hover::selection,
a:hover::selection,
input:focus::selection,
select:focus::selection,
textarea:focus::selection,
a:focus::selection,
input:active::selection,
select:active::selection,
textarea:active::selection,
a:active::selection,
input:checked::selection,
select:checked::selection,
textarea:checked::selection,
a:checked::selection,
[bgcolor] input:hover::selection,
[bgcolor] select:hover::selection,
[bgcolor] textarea:hover::selection,
[bgcolor] a:hover::selection,
[bgcolor] input:focus::selection,
[bgcolor] select:focus::selection,
[bgcolor] textarea:focus::selection,
[bgcolor] a:focus::selection,
[bgcolor] input:checked::selection,
[bgcolor] select:checked::selection,
[bgcolor] textarea:checked::selection,
[bgcolor] a:checked::selection,
[bgcolor] input:active::selection,
[bgcolor] select:active::selection,
[bgcolor] textarea:active::selection,
[bgcolor] a:active::selection {
  color: var(--color-accent);
  background-color: var(--color-window);
}
/* emulate dialogs */
.dialog {
  box-shadow: 1em 1ex var(--color-shadow);
  margin: auto;
  min-width: 50ex;
  width: fit-content;
  max-width: 80ex;
  height: fit-content;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* hide noscript gtm */
noscript iframe[src^="https://www.googletagmanager.com"] {
  display:none;visibility:hidden;position:absolute;
}
@keyframes color-fade {
  0% {
    /* color: CanvasText;
    background-color: Canvas; */
  }
  100% {
    background-color: var(--color-window);
    color: var(--color-text);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-window: black;
    --color-shadow: gray;
  }
  @keyframes color-fade {
    0% {
      /* color: CanvasText;
      background-color: Canvas; */
    }
    100% {
      background-color: var(--color-window);
      color: var(--color-text);
    }
  }
}
