/* Styles used only for interpriate old interface */
:root {
  --color-window: #0000A8;
  --color-text: #56FFFF;
  --color-danger: #A80000;
  /* --color-danger: #FF5750; */
  --color-buttonText: black;
  --color-button: white;
  --color-accent: #FFFF58;
  --color-activeWindow: #ABABAB;
  --color-inactiveWindow: #05A8A8;
  --color-menu: #05A8A8;
  --color-shadow: black;
}
* {
  font-size: 8pt;
}
body, html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 0;
}
html {
  scrollbar-color: orange var(--color-activeWindow);
  scrollbar-width: 1ex;
}
body, input, select, textarea {
  font-family: 'SFMono-Regular', 'SF Mono', 'Ubuntu Mono', Consolas, 'DejaVu Sans Mono', Menlo, monospace;
  font-size: 100%;
  letter-spacing: 1.5px;
  border: 0;
  background-color: var(--color-window);
  color: var(--color-text);
  margin: -0.25em;
  padding: 0.25em;
}
select {
  height: 2.5em;
}
input, select, textarea, a {
  box-shadow: 1em 1ex var(--color-shadow);
  margin-right: 1ex;
  line-height: 2;
}
p::before input, select::before {
  content: '[ ';
  display: inline;
}
li {
  list-style-type: square;
}
hr {
  border-color: var(--color-text);
}
fieldset {
  border-color: var(--color-window);
  border-style: double;
  border-width: 5px;
}
form {
  background-color: #ababab;
  padding: 0 0.25em 0.5em 0.25em;
}
legend {
  background-color: var(--color-window);
  color: var(--color-text);
  padding: 0.25em 0.5em;
}
input, select, textarea, a {
  text-decoration: none;
  color: initial;
  padding: 0.25em 0.5em;
}
form input, form select, form textarea {
  color: var(--color-accent);
}
form input[type=submit], form a {
  color: var(--color-buttonText);
}
input[type=submit], a {
  background-color: var(--color-inactiveWindow);
}
form input[type=submit], form a {
  background-color: var(--color-button);
}
[bgcolor="red"] {
  background-color: var(--color-danger);
  color: var(--color-button);
}
[style="display:none;"] {
  display: none;
  visibility: hidden;
}
input:hover, select:hover, textarea:hover, a:hover,
input:focus, select:focus, textarea:focus, a:focus,
input:active, select:active, textarea:active, a:active,
input:checked, select:checked, textarea:checked, a:checked,
form input:hover, form select:hover, form textarea:hover, form a:hover,
form input:focus, form select:focus, form textarea:focus, form a:focus,
form input:checked, form select:checked, form textarea:checked, form a:checked,
form input:active, form select:active, form textarea:active, form a:active {
  background-color: var(--color-accent);
  color: var(--color-buttonText);
  outline: none !important;
}
::selection {
  color: var(--color-buttonText);
  background-color: var(--color-accent);
}
@media (prefers-color-scheme: dark) {
  :root {
      --color-window: black;
      --color-shadow: gray;
  }
}