article, section, header {
  display: grid;
  place-items: center;
  align-items: start;
  gap: 1rem;
  width: 100%;
}

.h2 {
  font-family: var(--font-fantasy);
  font-size: var(--font-size-xl);
  color: var(--text-color);
  font-weight: 400;
}

.subtitle {
  --text-color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 200;
  text-shadow: 0 0 1rem var(--color-grayscale);
  color: var(--text-color);
}
