:root {
  --size-header: 60vw;
  --size-alt: 2.5vw;
}
.header {
  position: relative;
  height: var(--size-header);
  @media (min-width: 768px) {
    --size-header: 30vh;
  }
  @media (min-width: 1024px) {
    --size-header: 17vw;
  }
  @media (min-width: 1440px) {
    --size-header: 13vw;
  }
}
.header__avatar {
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 0 3rem 0rem var(--color-grayscale);
  padding: 1rem;
  transform: perspective(1px) rotate(357deg);
  position: absolute;
  text-decoration: none;

  @media (prefers-reduced-motion: no-preference) {
    transition: transform 0.8s;
    transition-timing-function: ease-in-out;
  }

  @media (min-width: 768px) {
    &:hover {
      transform: perspective(1px) rotate(355deg);
    }
  }

  picture {
    border-radius: 2rem;
    overflow: hidden;
    width: calc(var(--size-header) - 2em);
    place-items: center;
    font-size: var(--size-alt);
    @media (min-width: 768px) {
      --size-alt: 1.2vw;
    }
    @media (min-width: 1024px) {
      --size-alt: 0.8vw;
    }
    @media (min-width: 1440px) {
      --size-alt: 0.6vw;
    }
  }
  img {
    width: 100%;
    height: auto;
    background: black;
    color: green;
    font-family: var(--font-monospace);
    letter-spacing: -0.08rem;
    line-height: 1;
    white-space: pre;
    text-align: center;
  }
}
