.header {
  position: relative;
  height: 24vh;
}
.header__avatar {
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 0 3rem 2rem var(--color-grayscale);
  padding: 1rem;
  transform: perspective(1px) rotate(357deg);
  transition: transform 0.8s;
  transition-timing-function: ease-in-out;
  position: absolute;

  &:hover {
    transform: perspective(1px) rotate(355deg);
  }

  picture {
    border-radius: 2rem;
    overflow: hidden;
    max-height: 24vh;
    max-width: 24vh;
    place-items: center;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
