.header {
  position: relative;
  height: 60vw;
  @media (min-width: 768px) {
    height: 30vh;
  }
}
.header__avatar {
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 0 3rem 0rem var(--color-grayscale);
  padding: 1rem;
  transform: perspective(1px) rotate(357deg);
  position: absolute;
  text-decoration: none;

  @media (prefers-reduced-motion: no-preference) {
    transition: transform 0.8s;
    transition-timing-function: ease-in-out;
  }

  @media (min-width: 768px) {
    &:hover {
      transform: perspective(1px) rotate(355deg);
    }
  }

  picture {
    border-radius: 2rem;
    overflow: hidden;
    width: 60vw;
    place-items: center;
    font-size: 1vw;
    @media (min-width: 768px) {
      width: 24vw;
      font-size: 2vw;
    }
  }
  img {
    width: 100%;
    height: auto;
    background: black;
    color: green;
    font-family: var(--font-monospace);
    letter-spacing: -0.08rem;
    line-height: 1;
    white-space: pre;
    text-align: center;
  }
}
