@import 'components/header/header.scss';
@import 'components/link-list/link-list.scss';
@import 'pages/home/home.scss';

@font-face {
  font-family: 'Alina Script';
  src: local('Alina Script'),
    url(fonts/AlinaScript.woff) format('woff'),
    url(fonts/AlinaScript.ttf) format('truetype'),
    url(fonts/AlinaScript.svg#AlinaScript) format('svg');
  font-display: swap;
}

:root {
  font-size: 100%;

  --font-sans-serif: -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  --font-fantasy: "Alina Script", serif, fantasy;
  --font-monospace: 'SFMono-Regular', 'SF Mono', 'Ubuntu Mono', Consolas, 'DejaVu Sans Mono', Menlo, monospace;

  --color-grayscale: rgba(127, 127, 127, 0.5);
  --color-primary-light: #EEEDE7d9;
  --color-primary: #E7D2CCd9;
  --color-primary-dark: #868B8Ed9;
  --color-primary-contrast: #B9B7BDd9;

  --font-size-xs: 0.8rem;
  --font-size-s: 1rem;
  --font-size-m: 1.4rem;
  --font-size-l: 1.6rem;
  --font-size-xl: 2.4rem;
  --font-size-xxl: 3.6rem;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

picture {
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: var(--font-size-m);
  font-family: var(--font-sans-serif);
  line-height: 1.5;
  background-image: url('home/images/Riga_Piter.png');
  background-repeat: no-repeat;
  background-position: 50% calc(100% + 10px);
}

body {
  background-color: var(--color-primary-light);
  background-image: url('home/images/clouds.png'), url('home/images/clouds.png');
  background-repeat: no-repeat, no-repeat;
}

a:link {
  color: var(--color-primary-dark);
}